.body {
  margin: 0;
  padding: 0;
}



.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ee4bd8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Box {
  background-color: rgb(241, 157, 210);
  color: black;
  display: flex;
  min-height: 90vh;
  flex-direction: column;
  width: 50%;
  border-radius: 15px;
}

.Left-box {
  background-color: #d7e6e3;
  color: black;
  min-height: 90vh;
  width: 30%;
  flex-direction: column;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.Right-box {
  background-color: #d7e6e3;
  color: white;
  min-height: 90vh;
  flex-direction: column;
  width: 30%;
  margin-left: 70%;
  margin-top: -54%;
  border-top-right-radius: 5px;
  float: right;
  border-bottom-left-radius: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 900px) {
  .Left-box, .Right-box{
  flex-direction: column;
  }
}


.login {
  margin-top: 15%;
}

.logo-img {
  width:10%;
  height: 10%;
}

.input {
  padding:10px;
  margin: 5px;
  width: 35%;
  color: black;
  border-radius: 10px;
  border: solid 2px #ee4baf;
  font-size: 15px;

}

.loginbtn {
  padding: 5px;
  margin: 5px;
  width: 10%;
  border-radius: 5px;
  background-color: #ee4baf;
  color: black;
  margin-top: 5%;
  margin-left: 2%;
  font-size: 15px;
}

.loginpage{
  background-color: white;
  display:flex;
  min-height: 90vh;
  flex-direction: column;
  width: 80%;
  border-radius: 10px;
}

.frndlist {
  background-color:rgb(241, 157, 210);
  color: black;
  width: 80%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}
